<div class="card" >
  
    <div class="card-body">
      <h5 class="card-title">Please enter your email to request password reset.</h5>
      
  
      <div class="form-floating mb-3">
        <input [(ngModel)]="email" type="email" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Email address</label>
      </div>
      
    <button (click)="forgotPassword()" type="button" class="btn btn-primary mb-3">Send Password Reset Email</button>    
      
    <div class="form-floating mb-3">
        <button routerLink="/signin" type="button" class="btn btn-primary mb-3">Log In</button>    
    </div>
    
     
    
    </div>
  </div>