<div class="form-floating mb-3">
    <input [(ngModel)]="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>

  <div class="form-floating mb-3">
    <input [(ngModel)]="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <div class="form-floating mb-3">
    <input [(ngModel)]="password2" type="password" class="form-control" id="Password2" placeholder="Password">
    <label for="floatingPassword">Password again</label>
  </div>
  
<button [disabled]="validUser()" (click)="signUp()" type="button" class="btn btn-primary mb-3">Registration</button>
<!-- <button (click)="addMessage()" type="button" class="btn btn-primary">Message</button> -->
<div>
    <button (click)="googleAuth()" type="button" class="btn btn-primary">
        <i class="bi bi-google"></i>
        Contiune with Google</button>
</div>